.footer_container {
  position: relative;
  /* display: flex; */
  top: 3em;
  margin: 0em auto;
  width: 90%;
  height: auto;
  border-radius: 10px;
  background: #4a291b;
  box-shadow: 10px 10px 20px #3f2317, -10px -10px 20px #552f1f;
}

.footer_content_head {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  /* background: #000; */
}

.footer_feedback {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  flex-direction: column;
  width: 50%;
  /* background: #fff; */
  padding: 1em 3em;
}

.footer_feedback h3 {
  color: #f5e3cf;
  font-family: "Montserrat", sans-serif;
  /* font-size: 1.5em; */
  font-weight: 700;
  padding-right: 15em;
}

.footer_feedback .content {
  color: #f5e3cf;
  margin-top: 1em;
}

.footer_feedback .content__label {
  color: #a18775;
}

.footer_content_head button {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 250px;
  height: 50px;
  background: #f45713;
  border-radius: 10px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 700;
}

.footer_additionalServices {
  width: 50%;
  /* background: #fff; */
}

.additionalServices_content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 4em;
  margin-right: 2em;
  width: 350px;
  height: auto;
  /* background: pink; */
  border-right: 0.2px solid rgba(223, 201, 184, 0.5);
}

.footer_additionalServices ul {
  padding-top: 1em;
  /* list-style-position: outside; */
  list-style-type: none;
}

.footer_additionalServices ul li {
  display: flex;
  text-align: start;
  margin-bottom: 2em;
}

.footer_additionalServices ul li p {
  font-family: "Montserrat", sans-serif;

  font-weight: 700;
  padding: 0 1.5em;
}

.footer_additionalServices ul li:nth-child(1) {
  color: #f5e3cf;
}

.footer_additionalServices ul li:nth-child(5),
.footer_additionalServices ul li:nth-child(4),
.footer_additionalServices ul li:nth-child(3),
.footer_additionalServices ul li:nth-child(2) {
  color: #a18775;
}

.footer_additionalServices ul li .circle_icon {
  position: absolute;
  right: -0.5em;
  padding: 0.5em 0 0 0;
  color: #a18775;
}
